@page "/"


<MudContainer Style="height: calc(100vh - 64px);">
    <div style="background-image: url(https://cdn.rpg.solutions/les-batisseurs-de-nations/images/DwarvesGuide.jpg); background-repeat: no-repeat; background-size: contain; background-position: center; height:100%;"></div>
</MudContainer>