@inject UserOptions options;

<Menu Mode="MenuMode.Inline"
      Theme="options.MenuTheme"
      DefaultSelectedKeys=@(new[] {"home"})>
    @*Style="height: 100%; border-right: 0;"*@
    <MenuItem Key="home" Icon="home" RouterLink="/" Title="Accueil" RouterMatch="NavLinkMatch.All"></MenuItem>
    <MenuItem Key="streams" ChildContent=streamMenuItemContent RouterLink="/streams" RouterMatch="NavLinkMatch.Prefix"></MenuItem>
    <SubMenu Key="journals" TitleTemplate="journalMenuItemContent">
        <MenuItem Key="S01E01" RouterLink="/journals/season1/episode1" Title="Episode 1" RouterMatch="NavLinkMatch.All"></MenuItem>
    </SubMenu>
</Menu>

@code{
    private readonly RenderFragment streamMenuItemContent =
    @<span>
        <TwitchIcon />
        <span>Streams</span>
    </span>;

    private readonly RenderFragment journalMenuItemContent =
    @<span>
        <JournalIcon />
        <span>Journal</span>
    </span>;
}